<table>
  <% var i; for (i=0; i < quizes.length; i++) { %>        
    <tr>
      <td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
      <%if(session.user) {
         if (session.user.isAdmin || session.user.id === quizes[i].UserId) {%>
        <td><a href="/quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
        <td>
          <form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
            <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
              borrar
            </button>
          </form>
        </td>
        <%}
      }%>
    </tr> 
  <% } %>
</table>
<p/>
<%if(session.user){%>
  <a href="/quizes/new"><button>Crear pregunta</button></a>
<%}%>